<div class="p-grid p-justify-center p-align-center" >
    <div class="p-col-12 p-md-6 p-lg-4 m-1 surface-section text-800 border-round-sm">
        <div class="p-6 text-center md:text-left">
            <section>
                <span class="block text-6xl font-bold mb-1">404 Not found</span>
                <div class="text-6xl text-primary font-bold mb-3 blue-color">Sorry, the page does not exist</div>
                <button pButton pRipple label="Go home" type="button" class="mr-3 p-button-raised purple-background" routerLink=""></button>
            </section>
        </div>
    </div>
</div>
